@import url(https://fonts.googleapis.com/css?family=Raleway:400,800);
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* NAVBAR
-------------------------------------------------- */
.navbar-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
}
.navbar-wrapper .navbar {
  padding-right: 15px;
  padding-left: 15px;
}
.navbar-wrapper img {
  width: 5rem;
}

/* Carousel base class */
.carousel {
  height: 67rem;
}
.title-one{
  font-size: 10rem;
  color: darkblue;
}
.title-two {
  font-size: 10rem;
  color: #cc8400;
}
.carousel-caption {
  z-index: 10;
  padding-bottom: 25rem;
}
.carousel .item {
  height: 67rem;
}
.carousel-inner > .item > img {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 67rem;
}

/*PROYECTO*/
#project{
  background-image: url(../images/home/1.jpg);
  background-position: right;
  background-origin: content-box;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #008BFA; 
}
.box-project{
  color: white;
}
.box-project h1{
  font-size: 8rem;
  padding-top: 62px;
}

/*CALENDARIO*/
.calendario-title{
  color: red;
}

/*CONTACT*/
#contact{
  padding: 8px 0px;
  background-color: black;
}
ul.social-network {	
  margin: 0;
  margin-left:0;
  padding-left: 0;
  list-style: none;
}
ul.social-network li {
  display: inline;
  margin: 5px 5px;
}
ul.social-network li a:hover span .fa-circle {
  color: gray;
}
.icon-social-facebook{
  color:#1F4B7E
}
.icon-social-twitter{
  color: #2AA1AF;
}
.icon-social-instagram{
  color: #3A5F93;
}
.icon-social-pinterest{
  color:#BB070E;
}

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {
  /* Navbar positioning foo */
  .navbar-wrapper {
    margin-top: 20px;
  }
  .navbar-wrapper .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  .nav > li > button{
    position: relative;
    display: block;
    margin: 1rem;
  }